@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #f3f6fd;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --text-color: #1a2b2e;
    --app-primary-color: #34994e;
    --app-primary-color-border: #15732d;
    --app-primary-color-light: #5bfc0a;
    --app-secondary-color: #4a4a4a;
    --app-nav-select: #ced4da;
    --popup-projects-section: #fff;
    --popup-shadow: rgba(0, 0, 0, 0.2);
    --popup-border-color: #e4e6eb;
    --popup-hover-color: rgba(0, 0, 0, 0.05);
    --app-primary-gradiant-image: linear-gradient(180deg, #15732d, #34994e);;
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: .80rem;
    --font-sz-m: 1rem;
    --font-w-bold: 600;
    --font-sz-xs: 0.8125rem;
    --font-sz-l: 1.2rem;
    --z-fixed: 100;
    --tran-05: all 0.3s ease;
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    background-color: var(--first-color)!important;
}
body.dark{
    --first-color: #111827;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --text-color: #ffffff;
    --app-primary-color: #3a3b3c;
    --app-primary-color-border: #0c0f0c;
    --app-primary-color-light: rgba(166, 167, 168, 0.69);
    --app-secondary-color: rgba(255, 255, 255, 0.8);
    --app-nav-select: #ced4da;
    --popup-projects-section: #fff;
    --popup-shadow: rgba(228, 228, 228, 0.11);
    --popup-border-color: #64666b;
    --popup-hover-color: rgba(203, 203, 203, 0.05);
}
a {
    text-decoration: none
}
/*========Layouts========*/
.scalezero{
    display: none;
}
.scaleone{
    display: block;
}
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--first-color);
    transition: .5s;
    z-index: 1;
}

.header_toggle {
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    display: flex;
    width: 120px;
    height: 35px;
    display: flex;
    justify-content: center;

    overflow: hidden
}

.header .header-notification{
    border-right: 1px solid var(--popup-shadow);
    margin: 2px 5px 2px 0px;
}
.header-notification i{
    font-size: 1.5em;
    margin: 5px -6px 1px -8px;
    padding-right: 10px;
}
.header_img img {
    border-radius: 50%;
    width: 40px
}

.div_overflow{
    height: calc(100vh - 220px);
    overflow-y: scroll;
}
.borderless{

}
.borderless li{
    border: 0 none;
}
.mb-n1 {
    margin-bottom: -220px !important;
}
.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link .btn-outline-success{
    color: #fff;
    background-color: var(--app-primary-color);
}
.nav-link{
    color: var(--app-primary-color);
}
.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
    color: var(--app-primary-color);
    text-decoration: inherit;
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--text-color);
}

.nav_logo-name {
    color: var(--text-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--text-color);
    margin-bottom: 1.5rem;
    transition: .3s;
    text-decoration: Background;
    margin-left: -1px;
    width: 40px;
    border-radius: 38px;
}
.nav_link.active {
    color: var(--first-color);
    background-image: var(--app-primary-gradiant-image);
    margin-left: 11px;
    padding-left: 11px;
}
.nav_link.active:hover {
    color: var(--first-color);
}
.nav_link:hover {
    color: var(--app-primary-color);
}

.nav .nav_link .mode{
    border-radius: 6px;
    position: relative;
    transition: var(--tran-05);
}

.nav_link .mode .sun-moon{
    height: 50px;
    width: 60px;
}
.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}
.mode-switch {
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--app-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mode-switch.active .moon {
    fill: var(--app-secondary-color);
}
.nav_icon {
    font-size: 1.25rem
}
.navicon-setwidth{
    width: 70%;
    border-radius: 3px;
}
#nav-bar.show {
    left: 0
}
.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}
.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 120px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }
    .navicon-setwidth{
        width: 70%;
        border-radius: 3px;
    }
    #nav-bar.show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
    .mode-switch {
        width: 20px;
        height: 20px;
    }
    .mode-switch svg {
        width: 16px;
        height: 16px;
    }
}

/*----Popup-----*/
.popup {
    background: var(--popup-projects-section);
    padding: 8px;
    border-radius: 10px;
    position: absolute;
    display: none;
    right: 10px;
    top: -20px;
    margin-top: 5px;
    width: auto;
    z-index: 1;
    box-shadow: 0 12px 28px var(--popup-shadow);
}
.popup li.separator {
    border-bottom: 1px solid var(--popup-border-color);
    padding-bottom: 4px;
    margin-bottom: 4px;
}
.popup p {
    white-space: nowrap;
    margin-bottom: 4px;
    color: var(--text-color);
}
.popup i.menu-icon {
    width: 32px;
    height: 32px;
    line-height: 32px;
}
.popup i:first-child {
    text-align: center;
    border-radius: 50%;
    margin: 4px 8px;
    background: var(--popup-hover-color);
    color: var(--text-color);
}
.popup .account-info p {
    font-size: var(--font-sz-m);
    font-weight: var(--font-w-bold);
}
.popup span {
    color: var(--app-secondary-color);
    font-size: var(--font-sz-xs);
}
.popup .menu-item img {
    width: 60px;
    height: 60px;
    margin: 0 8px;
}
.popup .popup-menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 5px;
}

.popup .menu-item {
    display: flex;
    align-items: center;
    padding: 8px 0px;
    cursor: pointer;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-grow: 1;
    border-radius: 10px;
}
.popup .menu-item i:last-child {
    margin-left: auto;
    margin-right: 8px;
}
.popup .menu-item:hover {
    background: var(--popup-hover-color);
}

.popup.menu i {
    background: transparent;
    font-size: var(--font-sz-l);
    align-self: flex-start;
    margin-top: 0;
}
.popup.menu .menu-item {
    alin-items: flex-start;
    border-radius: 4px;
}

.popup.active {
    display: block;
}

/*=======Animations=======*/
/*--------Fade--------*/
.fade-enter-active {
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.fade-leave-active {
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    display: none;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
/*--------Slide-In-Out--------*/
.slide-vertical-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-vertical-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-vertical-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-vertical-in {
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-vertical-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-vertical-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}
/*--------App Animation--------*/
.app-spin{
    animation:w3-spin 2s infinite linear
}
@keyframes w3-spin{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(359deg)
    }
}
.app-animate-fading{
    animation:fading 10s infinite
}
@keyframes fading{
    0%{
        opacity:0
    }
    50%{
        opacity:1
    }
    100%{
        opacity:0
    }
}
.app-animate-opacity{
    animation:opac 0.8s
}
@keyframes opac{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
.app-animate-top{
    position:relative;
    animation:animatetop 0.4s
}
@keyframes animatetop{
    from{
        top:-500px;
        opacity:0
    }
    to{
        top:0;
        opacity:1
    }
}
.app-animate-left{
    position:relative;
    animation:animateleft 0.4s
}
@keyframes animateleft{
    from{
        left:-300px;
        opacity:0
    }
    to{
        left:0;
        opacity:1
    }
}
.app-animate-right{
    position:relative;
    animation:animateright 0.4s
}
@keyframes animateright{
    from{
        right:-300px;
        opacity:0
    }
    to{
        right:0;
        opacity:1
    }
}
.app-animate-bottom{
    position:relative;
    animation:animatebottom 0.4s
}
@keyframes animatebottom{
    from{
        bottom:-500px;
        opacity:1
    }
    to{
        bottom:0;
        opacity:0
    }
}
.app-animate-zoom-in {
    animation:animatezoomin 0.35s;
    display: block;
}
@keyframes animatezoomin{
    from{
        transform:scale(0)
    }
    to{
        transform:scale(1)
    }
}
.app-animate-zoom-out {
    animation:animatezoomout 0.35s;
    display: none;
}
@keyframes animatezoomout{
    from{
        transform:scale(1)
    }
    to{
        transform:scale(0)
    }
}
.app-animate-input{
    transition:width 0.4s ease-in-out
}
.app-animate-input:focus{
    width:100%!important
}
/*========TimeLine========*/
.margin-negative-5 {
    margin: -5px !important
}

.margin-5 {
    margin: 5px !important
}

.margin-10 {
    margin: 10px !important
}

.margin-15 {
    margin: 15px !important
}

.margin-20 {
    margin: 20px !important
}

.margin-25 {
    margin: 25px !important
}

.margin-30 {
    margin: 30px !important
}

.margin-35 {
    margin: 35px !important
}

.margin-40 {
    margin: 40px !important
}

.margin-bottom-0 {
    margin-bottom: 0 !important
}

.margin-bottom-5 {
    margin-bottom: 5px !important
}

.margin-bottom-10 {
    margin-bottom: 10px !important
}

.margin-bottom-15 {
    margin-bottom: 15px !important
}

.margin-bottom-20 {
    margin-bottom: 20px !important
}

.margin-bottom-25 {
    margin-bottom: 25px !important
}

.margin-bottom-30 {
    margin-bottom: 30px !important
}

.margin-bottom-35 {
    margin-bottom: 35px !important
}

.margin-bottom-40 {
    margin-bottom: 40px !important
}

.margin-bottom-45 {
    margin-bottom: 45px !important
}

.margin-bottom-50 {
    margin-bottom: 50px !important
}

.margin-top-0 {
    margin-top: 0 !important
}

.margin-top-5 {
    margin-top: 5px !important
}

.margin-top-10, .note-editor textarea {
    margin-top: 10px !important
}

.margin-top-15 {
    margin-top: 15px !important
}

.margin-top-20 {
    margin-top: 20px !important
}

.margin-top-25 {
    margin-top: 25px !important
}

.margin-top-30 {
    margin-top: 30px !important
}

.margin-top-35 {
    margin-top: 35px !important
}

.margin-top-40 {
    margin-top: 40px !important
}

.margin-top-45 {
    margin-top: 45px !important
}

.margin-top-50 {
    margin-top: 50px !important
}

.margin-right-0 {
    margin-right: 0 !important
}

.margin-right-5 {
    margin-right: 5px !important
}

.margin-right-10 {
    margin-right: 10px !important
}

.margin-right-15 {
    margin-right: 15px !important
}

.margin-right-20 {
    margin-right: 20px !important
}

.margin-right-25 {
    margin-right: 25px !important
}

.margin-right-30 {
    margin-right: 30px !important
}

.margin-right-35 {
    margin-right: 35px !important
}

.margin-right-40 {
    margin-right: 40px !important
}

.margin-right-45 {
    margin-right: 45px !important
}

.margin-right-50 {
    margin-right: 50px !important
}

.margin-left-0 {
    margin-left: 0 !important
}

.margin-left-5 {
    margin-left: 5px !important
}

.margin-left-10 {
    margin-left: 10px !important
}

.margin-left-15 {
    margin-left: 15px !important
}

.margin-left-20 {
    margin-left: 20px !important
}

.margin-left-25 {
    margin-left: 25px !important
}

.margin-left-30 {
    margin-left: 30px !important
}

.margin-left-35 {
    margin-left: 35px !important
}

.margin-left-40 {
    margin-left: 40px !important
}

.margin-left-45 {
    margin-left: 45px !important
}

.margin-left-50 {
    margin-left: 50px !important
}

div.timeline {
    margin: 0;
    overflow: hidden;
    position: relative
}

div.timeline .columns {
    margin: 0;
    padding: 0;
    list-style: none
}

div.timeline .columns > li:nth-child(2n + 1) {
    float: left;
    width: 50%;
    clear: left
}

div.timeline .columns > li:nth-child(2n + 1) .timeline_element {
    float: right;
    margin-right: 30px;
    left: 0;
    opacity: 1
}

div.timeline .columns > li:nth-child(2n + 1) .timeline_element:before {
    right: -27px;
    top: 15px
}

div.timeline .columns > li:nth-child(2n + 1) .timeline_element:after {
    right: -35px;
    top: 10px
}

div.timeline .columns > li:nth-child(2n + 2) {
    float: right;
    margin-top: 20px;
    width: 50%;
    clear: right
}

div.timeline .columns > li:nth-child(2n + 2) .timeline_element {
    float: left;
    margin-left: 30px;
    opacity: 1;
    right: 0
}

div.timeline .columns > li:nth-child(2n + 2) .timeline_element:before {
    left: -27px;
    top: 15px
}

div.timeline .columns > li:nth-child(2n + 2) .timeline_element:after {
    left: -35px;
    top: 10px
}

div.timeline .date_separator {
    clear: both;
    height: 60px;
    position: relative;
    text-align: center
}

div.timeline .date_separator span {
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    margin-top: -16px;
    position: absolute;
    width: 200px;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    background-color: #58748B;
    color: #fff
}

div.timeline .spine {
    border-radius: 2px;
    position: absolute;
    top: 0;
    width: 4px;
    left: 50%;
    margin-left: -2px;
    bottom: 0;
    background-color: rgba(0, 0, 0, .1)
}

div.timeline .column_center .timeline_element {
    margin: 20px auto;
    opacity: 1
}

div.timeline .column_center .timeline_element:after, div.timeline .column_center .timeline_element:before {
    display: none
}

.timeline_element {
    border-radius: 5px;
    clear: both;
    margin: 30px 0;
    padding: 20px;
    opacity: 0;
    position: relative;
    transition: all .2s linear 0s;
    min-width: 66.6667%;
    text-shadow: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, .1)
}

.timeline_element:after, .timeline_element:before {
    content: "";
    position: absolute;
    display: block
}

.timeline_element.partition-white {
    border: 1px solid rgba(0, 0, 0, .07)
}

.timeline_element.partition-white:hover {
    border: 1px solid rgba(0, 0, 0, .04)
}

.timeline_element.partition-white:after {
    background-color: #fff
}

.timeline_element.partition-white:hover:after {
    background-color: #c3c2c7;
    border: 1px solid #fff
}

.timeline_element.partition-green {
    border: none;
    color: #fff
}

.timeline_element.partition-green:hover {
    border: none
}

.timeline_element.partition-green:after {
    background-color: #5A8770
}

.timeline_element.partition-green:hover:after {
    background-color: #fff;
    border: 1px solid #5A8770
}

.timeline_element.partition-orange {
    border: none;
    color: #fff
}

.timeline_element.partition-orange:hover {
    border: none
}

.timeline_element.partition-orange:after {
    background-color: #F18636
}

.timeline_element.partition-orange:hover:after {
    background-color: #fff;
    border: 1px solid #F18636
}

.timeline_element.partition-blue {
    border: none;
    color: #fff
}

.timeline_element.partition-blue:hover {
    border: none
}

.timeline_element.partition-blue:after {
    background-color: #407887
}

.timeline_element.partition-blue:hover:after {
    background-color: #fff;
    border: 1px solid #407887
}

.timeline_element.partition-red {
    border: none;
    color: #fff
}

.timeline_element.partition-red:hover {
    border: none
}

.timeline_element.partition-red:after {
    background-color: #C82E29
}

.timeline_element.partition-red:hover:after {
    background-color: #fff;
    border: 1px solid #C82E29
}

.timeline_element.partition-azure {
    border: none;
    color: #fff
}

.timeline_element.partition-azure:hover {
    border: none
}

.timeline_element.partition-azure:after {
    background-color: #5B9BD1
}

.timeline_element.partition-azure:hover:after {
    background-color: #fff;
    border: 1px solid #5B9BD1
}

.timeline_element.partition-purple {
    border: none;
    color: #fff
}

.timeline_element.partition-purple:hover {
    border: none
}

.timeline_element.partition-purple:after {
    background-color: #9A89B5
}

.timeline_element.partition-purple:hover:after {
    background-color: #fff;
    border: 1px solid #9A89B5
}

.timeline_element:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, .2)
}

.timeline_element:before {
    height: 0;
    width: 26px;
    border-top: 1px dashed #CCC
}

.timeline_element:after {
    border-radius: 100%;
    height: 10px;
    width: 10px;
    background-color: #BBB;
    border: 1px solid #FFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2)
}

.timeline_element:hover:after {
    background-color: #FFF;
    border: 1px solid #CCC;
    z-index: 100
}

.timeline_element .timeline_title {
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    padding-top: 10px;
    white-space: nowrap
}

.timeline_element .timeline_title h4 {
    line-height: 30px
}

.timeline_element .timeline_date {
    display: block
}

.timeline_element .timeline_date .day {
    font-size: 52px;
    letter-spacing: -2px
}

.timeline_element .timeline_content {
    padding-top: 10px;
    padding-bottom: 10px
}

.timeline_element .readmore {
    padding: 10px 0;
    text-align: right
}

.timeline-scrubber {
    padding: 8px 0 8px 1px;
    top: 60px;
    right: 0;
    width: 100px;
    z-index: 1;
    list-style: none;
    position: absolute
}

.timeline-scrubber li {
    margin-bottom: 1px
}

.timeline-scrubber li:last-child a, .timeline-scrubber li:nth-last-child(2) a {
    border-color: #fff;
    color: #fff
}

.timeline-scrubber a {
    border-left: 5px solid #f7f7f8;
    color: #f7f7f8;
    display: block;
    font-weight: 400;
    outline: 0;
    padding: 4px 0 4px 6px
}

.timeline-scrubber a:hover {
    border-color: #c3c2c7 !important;
    color: #c3c2c7 !important
}

.timeline-scrubber .selected > a {
    border-left-color: #aeacb4 !important;
    color: #aeacb4 !important;
    font-weight: 700 !important
}

.ie8 div.timeline_element:after, .ie8 div.timeline_element:before {
    display: none
}

.timeline-xs {
    margin: 0;
    padding: 0;
    list-style: none
}

.timeline-xs .timeline-item {
    position: relative;
    border-left: 1px solid #c8c7cc
}

.timeline-xs .timeline-item:after {
    background-color: #fff;
    border-color: #58748B;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    height: 9px;
    left: 0;
    margin-left: -5px;
    position: absolute;
    width: 9px;
    clear: both;
    bottom: auto;
    top: 4px
}

.timeline-xs .timeline-item p {
    margin: 0;
    padding-bottom: 10px
}

.timeline-xs .timeline-item.success {
    border-left-color: #5cb85c
}

.timeline-xs .timeline-item.success:after {
    border-color: #5cb85c
}

.timeline-xs .timeline-item.danger {
    border-left-color: #d43f3a
}

.timeline-xs .timeline-item.danger:after {
    border-color: #d43f3a
}

.timeline-xs .timeline-item.info {
    border-left-color: #46b8da
}

.timeline-xs .timeline-item.info:after {
    border-color: #46b8da
}

.timeline-xs .timeline-item.warning {
    border-left-color: #eea236
}

.timeline-xs .timeline-item.warning:after {
    border-color: #eea236
}

.timeline-xs .timeline-item:after, .timeline-xs .timeline-item:before {
    content: " ";
    display: table
}

@media (max-width:991px) {
    div.timeline {
        margin: 0
    }

    div.timeline .columns li {
        float: none !important;
        width: 100% !important
    }

    .timeline_element {
        margin: 20px auto !important
    }

    .timeline-scrubber, .timeline_element:after, .timeline_element:before {
        display: none
    }
}
/*========DatePicker========*/
.datepicker,
.table-condensed {
    color: var(--app-secondary-color);

}
.datepicker table tr td.active.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active:active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover:active {
    background-color: var(--app-primary-color);
}
/*========Vertical Tabs========*/
.tab-vertical .nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 0px;
    border-bottom: 0
}

.tab-vertical .nav.nav-tabs .nav-item {
    margin-bottom: 6px
}

.tab-vertical .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: #fff;
    padding: 17px 49px;
    color: #71748d;
    background-color: #dddde8;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px
}

.tab-vertical .nav-tabs .nav-link.active {
    color: #5969ff;
    background-color: #fff !important;
    border-color: transparent !important
}

.tab-vertical .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 0px !important
}

.tab-vertical .tab-content {
    overflow: auto;
    -webkit-border-radius: 0px 4px 4px 4px;
    -moz-border-radius: 0px 4px 4px 4px;
    border-radius: 0px 4px 4px 4px;
    background: #fff;
    padding: 30px
}

.drag-area{

}
.drag-area.active{
    border: 2px solid #fff;
}
.drag-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/*========Custom File Chooser========*/
.app-file-chooser::before {
    content: "Pick file";
    position: absolute;
    z-index: 2;
    display: block;
    background-color: #eee;
    width: 80px;
}

